.navbar {
  background: #f1f5fb !important;
}

.navbar_end {
  align-items: center !important;
}

.navbar_item {
  height: fit-content;
  font-size: 1.2rem;
}

.navbar_item:last-child {
  pointer-events: none;
  opacity: 0.65;
}
