.hero_bg {
  background-image: url("/assets/hero-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100vw;
}

.title, .subtitle {
  color: #fff !important;
}  

.title::after {
  content: "";
  display: block;
  margin-top: 10px;
  width: 22rem;
  background: #0EFFA3;
  border: 3px solid #0EFFA3;
  border-radius: 3px;
}