.footer {
  background-color: #a6a6a7 !important;
  padding: 3rem 1rem 2rem !important;
}

.image {
  figure {
    img {
      margin: 0 auto;
      max-width: 350px;
    }
  }
}

.counter {
  display: flex;
  flex-direction: column;

  svg {
    margin-bottom: 0.2rem;
  }

  h3 {
    text-align: center;
    font-size: 1rem;
  }

  h2 {
    margin: 0 auto;
    width: fit-content;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.05em;
  }
}

.container {
  display: flex !important;
  gap: 1rem;

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.location {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  @media (max-width: 768px) {
    p {
      text-align: center;
    }
  }
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  color: #f3f3f4;
  padding: 30px;
  background-color: #79939f;
  border-radius: 50%;
}

.icon {
  color: #f3f3f4;
  transition: color 0.3s ease-in-out;
}

.link:hover .icon,
.link:focus .icon {
  color: #e3dddd;
}
